/* Base Colors */
:root {
  --white: #ffffff;
  --black: hsl(224, 12%, 4%);
  --darkgray: #333333;
  --gray: #5d5d5d;
  --lightgray: #999999;
  --green: #c2e15f;
  --orange: #fda333;
  --purple: #d3a4f9;
  --red: #fb4485;
  --blue: #6ce0f1;
  --darktext: #414141;
  --text: var(--darkgray);
  --graytext: var(--gray);
  --lighttext: var(--lightgray);
  --awesome: #dc3522;

  /* from astro */
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
.dark {
  --white: hsl(224, 10%, 10%);
  --black: hsl(0, 0%, 90%);
  --darkgray: #cccccc; /* Inverted */
  --lightgray: #666666; /* Inverted */
  --green: #3d1ea0; /* Complementary */
  --orange: #025ccc; /* Complementary */
  --purple: #2b5b06; /* Complementary */
  --red: #04bb7a; /* Complementary */
  --blue: #932f0e; /* Complementary */
  --darktext: #bebebe; /* Inverted */
  --text: var(--lightgray); /* Opposite of --darkgray */
  --graytext: var(--lightgray); /* Opposite of --gray */
  --lighttext: var(--darkgray); /* Opposite of --lightgray */
  --awesome: #23cade; /* Complementary */

  /* Opposite of Astro Colors */
  --accent: #ffcc00; /* Complementary */
  --accent-dark: #ffb275; /* Modified complementary */
  --gray: 159, 140, 96; /* Inverted */
  --gray-light: 26, 22, 15; /* Inverted */
  --gray-dark: 221, 214, 198; /* Inverted */
  --gray-gradient: rgba(26, 22, 15, 50%), #000; /* Adjusted */
  --box-shadow: 0 -2px -6px rgba(159, 140, 96, 25%),
    0 -8px -24px rgba(159, 140, 96, 33%), 0 -16px -32px rgba(159, 140, 96, 33%);
}

html {
  background: var(--white);
}

/* fonts */
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("/Roboto-Thin.ttf");
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--gray-gradient);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}
main {
  background: var(--white);
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
