<!-- 
This is loaded for bunny blogs.
-->
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<script src='/raylib.js' is:inline></script>
<canvas id='bunnies'></canvas>
<script is:inline>
  async function startRaylib() {
    if (typeof RaylibJs !== 'undefined') {
      const raylibjs = new RaylibJs();
      raylibjs.start({
        wasmPath: '/web.wasm',
        canvasId: 'bunnies',
      });
    } else {
      console.error('RaylibJs is not loaded');
    }
  }

  // Ensure raylib.js is loaded, then initialize
  window.addEventListener('load', startRaylib);
</script>
</div>
